<h1><center> Preparing and Exploring Data in Python</center></h1>

<h1><center>Why Python?</center></h1>
<div style="margin-left:100px;">
<ul>
    <li>Simple syntax designed as a teaching language for learning Computer Science</li>
    <li>Great language for learning about object oriented programming, a mordern programming approach</u></li>
    <li>Vast support of programming libraries, especially for AI and data science works</li>
    <li>Commercial adoptions have increased rapidly, providing plenty of job opportunities</li> 
    <li>Used by YouTube, Dropbox, Google, Instagram, Spotify, Reddit, Yahoo Maps, Pinterest, Washington Post, NASA, etc.</li>
    <li>For web programming, like PHP and C#, Python is usually used for back-end processing.</li>
</ul>
</div>

<h1><center>Back-end Development with Python</center></h1>

<h1><center>Python Development with Anaconda and Jupyter Notebook</center></h1>
<div style="margin-left:100px;">
<ul>
    <li>Why Anaconda?</li>
    <li>Most of the popular Python libraries such as BeautifulSoup, NumPy, Pandas, Mathplotlib are preinstalled</li>
    <li>Other additional software tools such as R Studio, JupyterLab, Jupyter Notebook are also preinstalled</li>
    <li>Cross-platform support on Mac, Windows, and Linux</li>
    <li>Jupyter Notebook is a great tool for learning Python</li>
    <li>Jupyter Notebook supports HTML/CSS and LaTex markup syntax</li>
    <li>Jupyter Notebook supports slideshow presentation</li>
    <li>Github support for Jupyter notebook document</li>
</div>

<h2>Similar to other programming languages, Pythob provides us with the capabilities to build system and transform data.</h2>

<img src="system.png">

<h2>Learning Python with <a href="https://blockly-demo.appspot.com/static/demos/code/index.html" target="_blank">Google Blocky</a></h2>

<img src="blocky.png" style="background:white;">

<h1>All programming languages rely on similar data and operation patterns to process and tranfrom <u style="color:red;">input</u> into <u style="color:red;">output</u>.</h1>

<h1><center>Basic Data Types in Python</center></h1>
<div style="margin-left:100px;">
<ul>
    <li>Integer</li>
    <li>Float</li>
    <li>String</li>
    <li>Boolean</li>
</ul>
</div>

<h1><center>Basic Operations in Python</center></h1>
<div style="margin-left:100px;">
<ul>
    <li>Variable Assignment</li>
    <li>Mathematical Operations</li>
    <li>Logical Operations</li>
    <li>Looping Operations</li>
</ul>
</div>

<h2>Jupyter Notebook is a <u style="color:red;">system</u> that accepts instructions given in the <u style="color:red;">In</u> box and returns result in the <u style="color:red;">Out</u> box.</h2>

<center><h1>Try it out.</h1></center>

<h3>e.g. 5+2, 5-2, 5*2, 5/2, 5%2, 5**2</h3>

<h1><center>Integer</center></h1>
<div style="margin-left:100px;">
To show the result of your code, make sure "code" display option is chosen instead of the "markdown" option for rendering in Jupyter Notebook and then type:<br>
<br>
<ol>
    <li>Press the "+" button on the button toolbar to create a new In-box</li>
    <li>Enter 123</li>
    <li>Hit "Run" on the button toolbar to execute your code.</li>
    <li>Press the "+" button on the button toolbar to create a new In-box</li>
    <li>Enter type(123)</li>
    <li>Hit "Run" on the button toolbar to execute your code</li>
    <li>See what you've got</li>
</ol>
</div>

In [7]:
type('123.45')

str

<h1><center>Try it out</center></h1>

<h1><center>Float</center></h1>
<div style="margin-left:100px;">
To show the result of your code, make sure "code" display option is chosen instead of the "markdown" option for rendering in Jupyter Notebook and then type:<br>
<br>
<ol>
    <li>Press the "+" button on the button toolbar to create a new In-box</li>
    <li>Enter 123.45</li>
    <li>Hit "Run" on the button toolbar to execute your code.</li>
    <li>Press the "+" button on the button toolbar to create a new In-box</li>
    <li>Enter type(123.45)</li>
    <li>Hit "Run" on the button toolbar to execute your code</li>
    <li>See what you've got</li>
</ol>
</div>

<h1><center>Try it out</center></h1>

<h1><center>String</center></h1>
<div style="margin-left:100px;">
To show the result of your code, make sure "code" display option is chosen instead of the "markdown" option for rendering in Jupyter Notebook and then type:<br>
<br>
<ol>
    <li>Press the "+" button on the button toolbar to create a new In-box</li>
    <li>Enter '123.45'</li>
    <li>Hit "Run" on the button toolbar to execute your code.</li>
    <li>Press the "+" button on the button toolbar to create a new In-box</li>
    <li>Enter type('123.45')</li>
    <li>Hit "Run" on the button toolbar to execute your code</li>
    <li>See what you've got</li>
</ol>
</div>

<h1><center>Try it out</center></h1>

<h1><center>Assign Data Type to Variables</center></h1>
<div style="margin-left:100px;">
To show the result of your code, make sure "code" display option is chosen instead of the "markdown" option for rendering in Jupyter Notebook and then type:<br>
<br>
<ol>
    <li>Press the "+" button on the button toolbar to create a new In-box</li>
    <li>Enter 'x = 123'</li>
    <li>Enter 'y = 123.45</li>
    <li>Enter 'z = '123.45'</li>
    <li>Enter 'print(x,y,z)</li>
    <li>By the way, the command "print" is a built-in function in Python</li>
    <li>Enter 'print(type(x),type(y),type(z))'. </li>
    <li>Hit "Run" on the button toolbar to execute your code</li>
    <li>See what you've got</li>
</ol>
</div>

<h1><center>Try it out</center></h1>

In [9]:
x = 123
y = 123.45
z = '123.45'
print(x,y,z)
print(type(x),type(y),type(z))

123 123.45 123.45
<class 'int'> <class 'float'> <class 'str'>

<h1><center>Boolean</center></h1>
<div style="margin-left:100px;">
To show the result of your code, make sure "code" display option is chosen instead of the "markdown" option for rendering in Jupyter Notebook and then type:<br>
<br>
<ol>
    <li>Press the "+" button on the button toolbar to create a new In-box</li>
    <li>Enter 'sign_up = True'</li>
    <li>Enter type(type(sign_up)</li>
    <li>Hit "Run" on the button toolbar to execute your code</li>
    <li>See what you've got</li>
</ol>
</div>

<h1><center>Try it out</center></h1>

In [10]:
sign_up = True
print(type(sign_up))

<class 'bool'>

<h1><center>More on Expressions and Variables</center></h1>
<div style="margin-left:100px;">
To show the result of your code, make sure "code" display option is chosen instead of the "markdown" option for rendering in Jupyter Notebook and then type:<br>
<br>
<ol>
    <li>Expressions are made up of mathematical operations</li>
    <ul>
        <li>Addition +</li>
        <li>Subtraction -</li>
        <li>Multiplication *</li>
        <li>Division /</li>
        <li>Rounded division //</li>
        <li>Exponent **</li>
        <li>Modulus % (division returns remainder)</li>
    </ul>
    <li>Variables (used for storing values)</li>
    <ul>
        <li>x = 123</li>
        <li>y = 123.45</li>
        <li>z = '123.45'</li>
        <li>What is the result of adding x + y
    </ul>
</ol>
</div>

<h1><center>Data Type Conversion</center></h1>

In [18]:
x = 123
y = 123.45
z = 'The result of ' + str(x) + " + " + str(y) + " = " + str(x+y)
print(type(str(y)))
print(z)

<class 'str'>
The result of 123 + 123.45 = 246.45

<h1><center>More on String</center></h1>
<div style="margin-left:100px;">
To show the result of your code, make sure "code" display option is chosen instead of the "markdown" option for rendering in Jupyter Notebook and then type:<br>
<br>
<ol>
    <li>The concept of an "index": position of each character in the string</li>
    <li>The first position is always "0"</li>
    <li>Notation of the index is expressed as:string_var[beginning position:ending position]</li>
    <li>The ending position is not included
    <li>The len(string_var) function will return the length of the string</li>
    <li>Let's say z = "I am from CUHK."</li>
    <li>What will the command print(z[1:4]) return?</li>
    <li>How can you print out the entire string using the index</li> 
    <li>Negative index starts from the end of the string e.g. name[-1:] </li>
</ol>
</div>

<h1><center>Try it out</center></h1>

In [2]:
z = "I am from CUHK."
print(z[0:4])
print(z[0:15])
print (z[-3:])

I am
I am from CUHK.
HK.

In [29]:
z = "I am from CUHK."
print(len(z))
print(z[0:14])
print(z[-3:])
print(z[10:14])

15
I am from CUHK
HK.
CUHK

<h1><center>Useful String Functions</center></h1>
<div style="margin-left:100px;">
To show the result of your code, make sure "code" display option is chosen instead of the "markdown" option for rendering in Jupyter Notebook and then type:<br>
<br>
<ol>
    <li>name.upper()</li>
    <li>name.replace(destination,source)</li>
    <li>name.find(destination)</li>
    <li>name.split()</li>
    <li>name.count(target)</li>
</ol>
</div>

<h1><center>Try it out</center></h1>

In [41]:
famous_person = "Prince Charles"
print(famous_person)
famous_person2 = famous_person.replace("Charles","Harry")
print(famous_person, famous_person2)
print(famous_person.split())
print(famous_person.count("e"))

Prince Charles
Prince Charles Prince Harry
['Prince', 'Charles']
2

<h1><center>Try it out</center></h1>

In [95]:
name = "Prince Charles"
print(name)
name = name.replace("Charles","William")
name = name.upper()
print(name)
print(name.find("Charles"))
print(name.find("WILLIAM"))

Prince Charles
PRINCE WILLIAM
-1
7

In [19]:
names = "Prince Charles and Prince Harry"
first_prince_position = names.find("Prince")
print("1st Prince Position:"+str(first_prince_position))
second_prince_position = names.find("Prince",first_prince_position+1)
print("2nd Prince Position:"+str(second_prince_position))
son_of_charles = names[second_prince_position:]
print(son_of_charles)

1st Prince Position:0
2nd Prince Position:19
Prince Harry

<center><h1>Getting Input</h1></center>

In [16]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
Bernard
Hello, Bernard

<center><h1>Commenting your program.</h1></center>

In [18]:
# This is a comment
# 2 + 2 
2 + 2

4

<h1><center>Try it out: Input first and last name and output fullname.</center></h1>

<h1><center>More Type Conversion</center></h1>

In [32]:
# str(x) function will convert integer and float into a string
x = 3.14
y = str(x)
print(y)
type(y)

3.14

str

In [41]:
# float(x) function will convert a string with decimal point into a float
x = 3.14
y = str(x)
z1 = float(y)
print(z1)
z2 = int(y[0:y.find(".")])
print(z2)
print(type(z1))
print(type(z2))

3.14
3
<class 'float'>
<class 'int'>

<center><h1>Conditionals:<div style="color:red;">'If then else' Statements </div></h1></center>

In [14]:
sex = 'male'
if sex == 'male':
    print('I am a '+sex+'.')
else: 
    print('I am a '+sex+'.')

I am a male.

<h1><center>Try it out: Enter gender preference and output answer.</center></h1>

<h1><center>Rounding Function</center></h1>

In [24]:
# Create a rounding function
x = 273.87127
pos = str(x).find(".")+1
val = str(x)[pos:pos+1]
if (int(val) >= 5):
    print(str(x+1)[0:pos-1])
else:
    print(str(x)[0:pos-1])

274

In [30]:
# Another way to implement a rounding function
x = 273.47127
pos = str(str_x).find('.')+1
val = str(x)[pos:pos+1]
if (val in "1234"):
    x = x
else:
    x = x + 1
print(str(x)[0:pos-1])

273

<h1><center>Basic Data Structures in Python</center></h1>
<div style="margin-left:100px;">
<ul>
    <li>List and Tuple</li>
    <li>Dictionary and Set</li>
</ul>
</div>

<h1><center>Tuple and List</center></h1>
<div style="margin-left:100px;">
<ul>
        <li>Tuples are arrays enclosed with round brackets for storing multiple variables</li>
        <li>Variables with data types can be stored into a Tuple</li>
        <li>A Tuple operates like a string and therefore can be indexed from the beginning (positive) and the end (negative)</li>
        <li>Tuples are immutable</li>
        <li>Inorder to manipulate a tuple, a new one has to be created</li>
        <li>Tuples can be nested e.g. Tuple2 = (1,2,(3,4),5)</li>
        <li>Due to its rigidity, List is more commonly used than Tuple.</li>
        <li>Lists are like Tubles but are mutable and enclosed with square brackets</li>
        <li>List, similar to a Tuple, operates like a string when it comes to access individual element within the data structure</li>
</ul>
</div>

<h1><center>Try it out</center></h1>

In [38]:
tuple1 = (1,1.3,2,'CUHK') 
print(tuple1)
list1 = [1,1.3,2,'CUHK']
print(list1)

(1, 1.3, 2, 'CUHK')
[1, 1.3, 2, 'CUHK']

<h1><center>Try it out</center></h1>

In [57]:
my_list = [1,2,3,4,5,2.5]
print(sorted(my_list))
print(my_list)
my_list = my_list + [6,7,8]
print(my_list)
my_list.append([9,10,11])
print(my_list)
del(my_list[9])
print(my_list)

[1, 2, 2.5, 3, 4, 5]
[1, 2, 3, 4, 5, 2.5]
[1, 2, 3, 4, 5, 2.5, 6, 7, 8]
[1, 2, 3, 4, 5, 2.5, 6, 7, 8, [9, 10, 11]]
[1, 2, 3, 4, 5, 2.5, 6, 7, 8]

In [60]:
score_list = [100,95,85,60,60.5,70]
print(score_list)
print(score_list[3])
score_list.append([50,45,65,55])
print(score_list)
del(score_list[6])
print(score_list[3:7])
print(score_list)
score_list.append([1,2,3,"I am from CUHK.",True])
print(score_list)
second_list = [11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)

[100, 95, 85, 60, 60.5, 70]
60
[100, 95, 85, 60, 60.5, 70, [50, 45, 65, 55]]
[60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUHK.', True]]
[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUHK.', True], [11, 22, 33, [44, 55, 66]]]

<h1><center>Looping Operations</center></h1>
<div style="margin-left:100px;">

In [2]:
for i in range(0,5):
    print(i)

0
1
2
3
4

<center><h1>Using List to Store Data</h1></center>

In [166]:
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
index = 0
fee_list = []
for number in name_list:
        hrs = hrs_list[index]
        rate = rate_list[index]
        fee = hrs * rate
        fee_list.append(fee)
        money_made = name_list[index] + " makes " + str(fee) + "."
        print(money_made)  
        index = index + 1
money_list = []
money_list.append(name_list)
money_list.append(fee_list)
print(money_list)

John makes 1950.0.
Mike makes 3000.0.
Mary makes 3250.0.
Jane makes 4500.0.
[['John', 'Mike', 'Mary', 'Jane'], [1950.0, 3000.0, 3250.0, 4500.0]]

In [5]:
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
fee_list = []
for number in range(len(name_list)):
        hrs = hrs_list[number]
        rate = rate_list[number]
        fee = hrs * rate
        fee_list.append(fee)
        money_made = name_list[number] + " makes " + str(fee) + "."
        print(money_made)  
money_list = []
money_list.append(name_list)
money_list.append(fee_list)
print(money_list)

John makes 1950.0.
Mike makes 3000.0.
Mary makes 3250.0.
Jane makes 4500.0.
[['John', 'Mike', 'Mary', 'Jane'], [1950.0, 3000.0, 3250.0, 4500.0]]

In [12]:
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
fee_list = []
number = 0
while number < len(name_list):
        hrs = hrs_list[number]
        rate = rate_list[number]
        fee = hrs * rate
        fee_list.append(fee)
        money_made = name_list[number] + " makes " + str(fee) + "."
        print(money_made)  
        number = number + 1
money_list = []
money_list.append(name_list)
money_list.append(fee_list)
print(money_list)
print(len(name_list))

John makes 1950.0.
Mike makes 3000.0.
Mary makes 3250.0.
Jane makes 4500.0.
[['John', 'Mike', 'Mary', 'Jane'], [1950.0, 3000.0, 3250.0, 4500.0]]
4

<center><h1>Using Dictionary to Store Data</h1></center>

<h1><center>Set and Dictionary</center></h1>
<div style="margin-left:100px;">
<ul>
        <li>Similar to lists and tuples, sets support different Python types</li>
        <li>Sets use {} (braces) to embed values/elements</li>
        <li>Sets do not allow duplicates</li>
        <li>Lists can be converted into sets with the set function</li>
        <li>Dictionary store data in an array of key-value pairs in braces</li>
        <li>For instance, here is a dictionary instance: dict = {“key1”:1,”key2”:2,”key3”:3}
</li>
        <li>1st column representing the key and 2nd column representing the value</li>
        <li><dict_name>.keys() returns all the keys</li>
        <li><dict_name>.values.() returns all the values
</ul>
</div>

<h1><center>Try it out</center></h1>

In [9]:
dict1 = {'Peter':80,"David":90,"Mary":100}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1["David"])

{'Peter': 80, 'David': 90, 'Mary': 100}
dict_keys(['Peter', 'David', 'Mary'])
dict_values([80, 90, 100])
90

In [95]:
d = {'a': 'apple', 'b': 'berry', 'c': 'cherry'}
for key in d:
  print(key, d[key])

a apple
b berry
c cherry

<center><h1>Combining List and Dictionary</h1></center>

<h1><center>Try it out</center></h1>

In [1]:
student1 = {'id':'1111','name':'David Chan'} # Python dictionary is similar to JavaScript object
student2 = {'id':'1112','name':'Peter Lee'}
print(student1,student2) # similar to JavaScript document.write

{'id': '1111', 'name': 'David Chan'} {'id': '1112', 'name': 'Peter Lee'}

In [2]:
students = []                # Python list is similar to JavaScript array
students.append(student1)    # Python list append is similar to JavaScript array push
students.append(student2)
print(students) # print out a list of dictionaries

[{'id': '1111', 'name': 'David Chan'}, {'id': '1112', 'name': 'Peter Lee'}]

In [3]:
for i in students: # Python for loop is similar to JavaScript for (i=0;i<students.length;i++) {document.write...}
    print(i)       # print out a list of dictionaries

{'id': '1111', 'name': 'David Chan'}
{'id': '1112', 'name': 'Peter Lee'}

In [4]:
key = 0
for i in students:
    print(i)              # first loop prints out individual dictionary
    for key in i:           # second loop within first loop prints out individual element within each dictionary
        print(key, ':', i[key])

{'id': '1111', 'name': 'David Chan'}
id : 1111
name : David Chan
{'id': '1112', 'name': 'Peter Lee'}
id : 1112
name : Peter Lee

<center><h1>Print Score List</h1></center>

In [10]:
test1 = {"Peter":50,"David":60,"Mary":70}
assignment1 = {"Peter":50,"David":70,"Mary":80}
score_list = []
score_list.append(test1)
score_list.append(assignment1)
print(score_list)

[{'Peter': 50, 'David': 60, 'Mary': 70}, {'Peter': 50, 'David': 70, 'Mary': 80}]

<center><h1>Another Example</h1></center>

In [180]:
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
hrs = {"John":30.0,"Mike":40,"Mary":50,"Jane":60}
rates = {"John":65.0,"Mike":75.0,"Mary":65.0,"Jane":75.0}
for i in name_list:
    fees = hrs[i]* rates[i]
    make_money = " makes " + str(fees) + "."
    print(i,make_money)

John  makes 1950.0.
Mike  makes 3000.0.
Mary  makes 3250.0.
Jane  makes 4500.0.

<h1><center>Conditional Operations</center></h1>
<div style="margin-left:100px;">

In [185]:
my_list = ['red','green','blue','orange','black']
index = 0
for i in my_list:
  if i == 'blue':
    print(index, "Blue is printed.")
    index += 1
  else:
    print(index, my_list[index])
    # index += 1
    index = index + 1
print("This is done.")

0 red
1 green
2 Blue is printed.
3 orange
4 black
This is done.

In [189]:
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
hrs = {"John":30.0,"Mike":40,"Mary":50,"Jane":60}
rates = {"John":65.0,"Mike":75.0,"Mary":65.0,"Jane":75.0}
less_than_3200 = False
greater_equal_3200 = False
for i in name_list:
    fees = hrs[i]* rates[i]
    make_money = " makes " + str(fees) + "."
    if (fees < 3200.0):
        if (less_than_3200 == False):
            print("Less than 3200")
            less_than_3200 = True
        print(" ",i,make_money)
    else:
        if (greater_equal_3200 == False):
            print("More than or equal to 3200")
            greater_equal_3200 = True
        print(" ",i,make_money)

Less than 3200
  John  makes 1950.0.
  Mike  makes 3000.0.
More than or equal to 3200
  Mary  makes 3250.0.
  Jane  makes 4500.0.

<h1><center>Functional Decomposition and Abstraction</center></h1>
<div style="margin-left:100px;">
<ul>
        <li>A Python function takes input parameters and returns output results</li>
        <li>A function starts with the "def" keyword</li>
        <li>Calling the function will past contrl from the calling command to the called function</li>
        <li>Make sure the number of parameters called match with the number of parameters and type</li>
        <li>Enclose programming statements in a function to transfer inputs into outputs</li>
        <li>Built-in functions can come with Python (e.g. y = len(list)) and other imported external modules</li>
        <li>Lists can be converted into sets with the set function</li>
        <li>A function can take it multiple input parameters (e.g. def Multi(a,b):)</li>
        <li>Global and local variables can be initialized and used inside a Python program but only local variables exist inside a function</li>
</ul>
</div>

In [43]:
# Create a rounding function given rounded_to_int(x) and x can be any integer or float.
# so rounded_to_int(3.14) will return 3 and rounded_to_int(3.54) will return 4. 
# Create a rounding function

def rounded_to_int(x):
    pos = str(x).find(".")+1
    val = str(x)[pos:pos+1]
    if (int(val) >= 5):
        result = str(x+1)[0:pos-1]
    else:
        result = str(x)[0:pos-1]
    return result

print(rounded_to_int(3.14))
print(rounded_to_int(3.54))

3
4

# A TA Fee Computation Example

In [45]:
def compute_ta_fees(hrs,rate):
    fee = hrs*rate
    return fee
ta_fees = compute_ta_fees(30,60.40)
print(ta_fees)

1812.0

In [46]:
def compute_ta_fees(hrs,rate,name):
    fee = hrs*rate
    return name + " has received $" + str(fee) + "."
ta_fees = compute_ta_fees(30,60.40,'Bernard')
print(ta_fees)

Bernard has received $1812.0.

In [47]:
def compute_ta_fees(hrs,rate,name):
    fee = hrs*rate
    money_to_mom = fee*.2
    return name + "'s mom has received $" + str(money_to_mom) + "."
ta_fees = compute_ta_fees(36,67.30,'Mary')
print(ta_fees)

Mary's mom has received $484.55999999999995.

In [49]:
def compute_ta_fees(hrs,rate,name):
    fee = hrs*rate
    money_to_mom = fee*.2
    return name + "'s mom has received $" + str(money_to_mom) + "."
# print ta_fees
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
index = 0
output_list = []
for number in name_list:
        hrs = hrs_list[index]
        rate = rate_list[index]
        name = name_list[index]
        ta_fees = compute_ta_fees(hrs,rate,name)
        print(ta_fees)
        output_list.append(ta_fees)
        index = index + 1
print(output_list)

John's mom has received $390.0.
Mike's mom has received $600.0.
Mary's mom has received $650.0.
Jane's mom has received $900.0.
["John's mom has received $390.0.", "Mike's mom has received $600.0.", "Mary's mom has received $650.0.", "Jane's mom has received $900.0."]

In [33]:
purchase_list = ["ABC 2T HD", "MS wireless mouse", "TS Wireless keyboard"]
inventory = {
    "ABC 2T HD":60,
    "MS wireless mouse":0,
    "TS Wireless keyboard":32,
    "CC 500G USB Drive":25
}

prices = {
    "ABC 2T HD":800,
    "MS wireless mouse":200,
    "TS Wireless keyboard":120,
    "CC 500G USB Drive":450
}

# Write your code below!
def compute_bill(part_list):
    total = 0
    for item in part_list:
        if inventory[item] > 0:
            total = total + prices[item]
            inventory[item] = inventory[item] - 1
            print(item,":",inventory[item])
    return total

print("Total:",compute_bill(purchase_list))

ABC 2T HD : 59
TS Wireless keyboard : 31
Total: 920

In [4]:
lloyd = {
  "name": "Lloyd",
  "homework": [90.0, 97.0, 75.0, 92.0],
  "quizzes": [88.0, 40.0, 94.0],
  "tests": [75.0, 90.0]
}
alice = {
  "name": "Alice",
  "homework": [100.0, 92.0, 98.0, 100.0],
  "quizzes": [82.0, 83.0, 91.0],
  "tests": [89.0, 97.0]
}
tyler = {
  "name": "Tyler",
  "homework": [0.0, 87.0, 75.0, 22.0],
  "quizzes": [0.0, 75.0, 78.0],
  "tests": [100.0, 100.0]
}
def average(numbers): # Step 4
    total = sum(numbers)
    total = float(total) 
    return total/len(numbers)

def get_average(student): # Step 3
    homework = average(student["homework"]) # Step 4
    quizzes = average(student["quizzes"])
    tests = average(student["tests"])
    return 0.1 * homework + 0.3 * quizzes + 0.6 * tests

def get_letter_grade(score): # Step 5
    if score >= 90:
        return "A" 
    elif score >=80:
        return "B"
    elif score >=70:
        return "C" 
    elif score >=60:
        return "D"
    else:
        return "F"
    
def get_class_average(class_list): # Step 2
    results = []
    for student in class_list:
        student_avg = get_average(student) # Step 3
    results.append(student_avg)
    return average(results)

students = [lloyd, alice, tyler] # Step 1 - students is a list of dict objects with each dict representing the
                                 # records of the student's scores in homeworks, quizzes, and tests         
class_avg = get_class_average(students)# Step 2
print(class_avg)
print(get_letter_grade(class_avg)) # Step 5

79.9
C

<h1><center>Final Project</center></h1>